<div class="call-landing">
    <div class="tag animated slideInDown">Essays Crafted Just for You</div>
</div>
<div class="order-form animated slideInUp">
    <app-order-landing></app-order-landing>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutAlign="center space-around " class="actions">
    <div fxFlex=33 class="action animated slideInUp" fxLayoutAlign="center" fxLayout="column">
        <img class="action-img" src="../assets/images/checked.png">
        <p fxFlex>Plagarism Free papers</p>
    </div>
    <div fxFlex=33 class="action animated slideInUp" fxLayoutAlign="center" fxLayoutAlignItem="center" fxLayout="column">
        <img class="action-img" src="../assets/images/money-bag.png">
        <p>Money-back guarantee</p>
    </div>
    <div fxFlex=33 class="action animated slideInUp" fxLayoutAlign="center" fxLayout="column">
        <img class="action-img" src="../assets/images/graduation.png">
        <p fxFlex>High-quality writers</p>
    </div>
</div>