<md-card class="order-card">
    <form #orderForm='ngForm' autocomplete="off" novalidate fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="goOrder(orderForm.value)">
        <div fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center space-around " class="form-container" fxLayoutgap="10px" class="form-container">

            <md-select name="service" [(ngModel)]="service" placeholder="Type of service" (change)=change(orderForm.value)>
                <md-option *ngFor="let service of servicesA" [value]="service.value" required>
                    {{service.name}}
                </md-option>
            </md-select>
            <md-select *ngIf="ifResume" [(ngModel)]="paper" name="paper" placeholder="Type of {{typeService}}" (change)=change(orderForm.value)>
                <md-option *ngFor="let paper of papersA[optionsValue].array" [value]="paper.value" required>
                    {{paper.name}}
                </md-option>
            </md-select>
            <md-input-container *ngIf="ifResume">
                <input name="pages" [(ngModel)]="pages" onKeyPress="return event.charCode >= 48" min="1" mdInput type="number" placeholder="Number of {{typeQ}}" (change)=change(orderForm.value) required>
            </md-input-container>
            <md-select *ngIf="ifResume" name="academicLevel" [(ngModel)]="academicLevel" placeholder="Academic Level" (change)=change(orderForm.value)>
                <md-option *ngFor="let level of academicLevelA[optionsValue].array" [value]="level.index" required>
                    {{level.name}}
                </md-option>
            </md-select>
            <md-select name="urgency" placeholder="Urgency" [(ngModel)]="urgency" (change)=change(orderForm.value)>
                <md-option *ngFor="let urgency of urgencyA[optionsValue].array" [value]="urgency.index" required>
                    {{urgency.name}}
                </md-option>
            </md-select>
        </div>
        <p>{{ orderPrice | currency:'USD':true:'.2-2' }}</p>
        <button center md-raised-button color="primary" id="order-btn">Order Now!</button>
    </form>
</md-card>