<div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign="center space-around " fxLayoutgap="10px">
    <div class="action" fxFlex=25 fxLayout="column">
        <img class="action-img" src="../../assets/images/letter.png">
        <div>info@kustomessay.com</div>
    </div>
    <div class="action" fxFlex=25 fxLayout="column">
        <img class="action-img" src="../../assets/images/phoneb.png">
        <div>+254 712 345 678</div>
    </div>
    <div class="action" fxFlex=25 fxLayout="column">
        <img class="action-img" src="../../assets/images/facebook.png">
    </div>
    <div class="action" fxFlex=25 fxLayout="column">
        <img class="action-img" src="../../assets/images/twitter.png">
    </div>
</div>