.footer {
    min-height: 100px!important;
    background-image: url(../../assets/images/t1.png);
}

.action {
    align-items: center!important;
    padding: 30px;
    flex-direction: column;
    color: white;
    font-size: small;
}

.action-img {
    height: 64px;
    width: 64px
}


/*@media (max-width: 600px) {
    .action{

    }
}*/