<div fxLayout="column" class="form-container" fxFlex="1 0 auto" fxLayoutAlign="center center">
    <h2>Log in using Email:</h2>

    <span class="error" *ngIf="error">{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center">

        <md-input-container>
            <input type="text" placeholder="Email address.." (ngModel)="email" name="email" mdInput required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </md-input-container>
        <md-input-container>
            <input type="password" placeholder="Password" (ngModel)="password" name="password" mdInput required>

        </md-input-container>

        <button center md-raised-button color="primary" type="submit" [disabled]="!formData.valid" class="lg-btn">Log in</button><br>
        <a routerLink="/auth/signup" class="alc">Don't have an account?</a>
    </form>
</div>