<md-card class="card">
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutAlign="center space-around " fxLayoutgap="10px">
        <div class="action" fxLayout="row" fxLayout.sm="column">
            <img class="action-img" src="../../assets/images/letter.png">
            <div class="text">info@kustomessay.com</div>
        </div>
        <br>
        <div class="action" fxLayout="row" fxLayout.sm="column">
            <img class="action-img" src="../../assets/images/phoneb.png">
            <div class="text">+254 712 345 678</div>
        </div>
        <br>
        <div class="action" fxLayout="row" fxLayout.sm="column">
            <img class="action-img" src="../../assets/images/facebook.png">
            <a href="www.facebook.com" class="text">kustomessay</a>
        </div>
        <br>
        <div class="action" fxLayout="row" fxLayout.sm="column">
            <img class="action-img" src="../../assets/images/twitter.png">
            <a href="www.twitter.com" class="text">kustomessay</a>
        </div>
    </div>
</md-card>