.form-container {
    width: 100%;
    padding: 30px 10% 30px 10%;
}

.lg-btn {
    width: 100px;
}

#fb {
    background-color: #3030ab;
}

md-select,
md-input-container {
    padding: 10px
}

.error {
    font-size: small;
    color: red;
}