.title {
    font-family: "Kilogram"!important
}

.card {
    min-width: 250px;
    padding: 30px;
    color: #009688;
    font-size: large;
}

.container {
    padding: 20px;
    height: 80%
}